@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.raleway-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
} */

body {
    margin: 0 auto;
    padding: 0;
    background-color: rgba(247, 247, 247, 1);
}

/* shared style */



header {
    max-width: 90%;
    margin-left: auto ;
    margin-right: auto;
    box-sizing: border-box;

}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 100%;
    width: 100%;
}

.nav-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1rem;
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    margin-right: 20px;
}

.nav-menu .menu-1 {
    color: #FEA301;
}
.nav-menu .menu-2 {
    color: rgba(1, 172, 253, 1);
}
.nav-menu .menu-3 {
    color: rgba(5, 212, 223, 1);
}
.nav-menu .menu-4 {
    color: rgba(93, 88, 239, 1);
}

.btn-secondary {
    color: white;
    background-color: rgba(254, 163, 1, 1);
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.25rem;
}

.btn-secondary:hover {
    color: white;
    background-color: #01ACFD;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.25rem;
}

.btn-primary {
    color: white;
    background-color: rgba(17, 17, 17, 1);
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.25rem;
}

.btn-primary:hover {
    color: white;
    background-color:#FEA301;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
    font-weight: 500;
    font-size: 1.25rem;
}

.hero-content{
    width: 640px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

.yellow-heading {
    color: rgba(254, 163, 1, 1);
}
.blue-heading {
    color: rgba(1, 172, 253, 1);
}

.hero-text{
    font-size:1rem;
    font-weight: 400;
}

.hero-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.hero-image img {
    max-width: 100%;
    height: auto;
}

.focused-line{
    margin-top: 80px;
    background-color: #01ACFD;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

/* <!-- Standard Curriculum section --> */



.curriculum-container {
    max-width: 90%;
    margin: 0 auto;
    padding-top: 120px ;
    padding-bottom: 60px;
    background-image: url(assets/bg.png);
    background-repeat: no-repeat;
    background-position: center top;
    object-fit: cover;
}


.section-title {
    font-size: 2rem;
    text-align: center;
    color: black;
    font-weight: bold;

}

.curriculum-parent{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}

.curriculum-child-1{
    padding: 50px;
    background: linear-gradient(180deg, rgba(222, 245, 255, 1) 10%, rgba(255, 255, 255, 0.544) 90%);
    box-shadow: 0 0 28.3 .94 rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    border: 1px solid rgba(222, 245, 255, 1);
    text-align: center;
  
}

.curriculum-child-1 a {
    color: rgba(100, 200, 255, 1);
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.curriculum-child-2{
    padding: 50px;
    background: linear-gradient(180deg, rgba(255, 244, 220, 1) 10%, white 90%);
    box-shadow: 0 0 28.3 .94 rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    border: 1px solid rgba(255, 244, 220, 1);
    text-align: center;

  
}

.curriculum-child-2 a {
    color: rgba(240, 170, 0, 1);
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
.curriculum-child-3{
    padding: 50px;
    background: linear-gradient(180deg, rgba(242, 232, 255, 1) 10%, white 90%);
    box-shadow: 0 0 28.3 .94 rgba(0, 0, 0, 0.05);
    border-radius: 18px;
    border: 1px solid rgba(242, 232, 255, 1) ;
    text-align: center;

  
}

.curriculum-child-3 a {
    color: rgba(135, 0, 255, 1);
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

.curriculum-text{
    font-family: "Raleway", serif;
    font-weight: 500;
    font-size:15px;
    color: rgba(128, 128, 128, 1);
    line-height: 28px;
    margin: 5px;

}

.arrow {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}


.right-arrow,.left-arrow{
    background-color: #FEA301;
    border-radius: 50px;
    width: 30px;
    padding: 10px;

}

.right-arrow svg,.left-arrow svg  {
    color: white;
    max-width: 40px;
    height: 25px;
    font-weight: bold;
    margin: 0 auto;
}

.left-arrow:hover,.right-arrow:hover {
    background-color:#01ACFD;
    border-radius: 50px;
    width: 30px;
    padding: 10px;

}





/* our stories related style */

.our-stories-background {
    background:url(assets/bg.png), linear-gradient(180deg, rgba(255, 255, 255, 0.153) 0%, rgb(247, 228, 197) 100%);
    background-repeat: repeat-y;
    background-position: center top center bottom;
    object-fit: cover;
  
}

.stories-max-width{
    max-width: 90%;
    margin: 0 auto;
    padding-bottom: 100px;
}

.big-card-btn{
    color: white;
    background-color: #3CD8E8;
    padding: 14px 19px;
    border: none;
    border-radius: 45px;
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    top: -30px;
}

.small-card-btn{
    color: white;
    background-color: #95B226;
    padding: 14px 19px;
    border: none;
    border-radius: 45px;
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    top: -30px;
    left: 25px;
}

.blue-btn{
    color: white;
    background-color: #5D58F0;
    padding: 14px 19px;
    border: none;
    border-radius: 45px;
    font-weight: 500;
    font-size: 1rem;
    position: absolute;
    top: -30px;
    left: 25px;
}

.stories-container{
    display: flex;
    justify-content: center;
    gap: 18px;
    padding: 80px 0;
}

.big-card{
    width: 45%;
    border-radius: 16px;
    background-color: white;

}

.big-card-content{
    padding: 40px 30px 0px 30px;
    position: relative;
}

.big-card-content h4{
    font-size: 1.5rem;
}

.big-card img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.small-card{
    width: 55%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
}

.small-card-child img {
    width: 100%;
    border-radius: 16px 16px 0 0;
}

.small-card-child div {
    padding: 20px;
    position: relative;
}

.small-card-child {
    border-radius: 16px;
    background-color: white;
}

.stories-max-width .btn-div {
    text-align: center;
}


/* footer related styles */

footer {
    background-color: rgba(1, 172, 253, 1);
    max-width: 100%;
    padding:80px 0;
    
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 90%;
}

.footer-logo-text {
    text-align: left;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.footer-heading {
    color: white;
}

.footer-text{
    font-size:1rem;
    font-weight: 400;
    color: white;
    width: 350px;
    line-height: 28px;
}

.footer-menu h3 {
    color: white;
}

.footer-menu li {
    color: white;
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
    margin-top: 10px;

}

.keep-in-touch h3 {
    color: white;
}
.social-images{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}
.social-images img {
    height: 100%;
    width: 100%;
}

/* responsive style */

@media screen and (max-width: 576px) {

    header {
        max-width: 100%;
        margin-top: 15px;
        padding: 0 15px;
       
    }

    .hero-content{
      max-width: 100%;

    }
   

    .nav-menu,.btn-secondary,.logo-text,.arrow,.big-card  {
        display: none;
    }
    
    .hero-area {
        flex-direction: column-reverse;
        border-top: 1px solid #FEA301;
        margin-top: 10px;

    }

    h1 {
        font-size: 2rem;
    }
   
    svg {
        max-width: 30px;
    }
   

    .btn-primary {
        color: white;
        background-color: rgba(17, 17, 17, 1);
        padding: 6px 24px;
        border: none;
        border-radius: 12px;
        font-weight: 500;
        font-size: 16px;
    }

    .main-curr-content{
        max-width: 100%;
    }

    .curriculum-parent  {
        flex-direction: column;
        padding: 0 15px;

    }

    /* .curriculum-container{
        max-width: 95%;
    } */

    .small-card-btn{
        position: absolute;
        top: -10px;
        left: 10px;
    }

    .blue-btn {
        position: absolute;
        top: -10px;
        left: 10px;
    }

    .small-card {
        width: 100%;
        gap: 10px;
    }

    .small-card-child{
        border-radius: 5px;
    }



    .small-card-child img  {
        border-radius: 5px 5px 0 0;
    }
    .small-card-child div {
        padding: 5px;
    }

    .small-card-child div h4 {
        font-size: 6px;
    }

    .small-card-child div button {
        padding: 5px 10px;
        font-size: 6px;
    }

    .footer-content {
        flex-direction: column;
       align-items: flex-start;
       gap: 20px;
    }

    .footer-text {
        width: 100%;
    }



   

    
}

@media screen and (min-width:577px) and (max-width:1400px) {
   header svg {
        display: none;
    }

    
}